.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.5rem 0.75rem; 
    margin-right: 5px; 
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 0.25rem; 
    border: 1px solid #ddd; 
    background-color: rgb(51 65 85);
    color: #ffffff !important
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #edf2f7; /* Light gray on hover */
    color: #0d4de3; /* Green text color on hover */
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: #4299e1; /* Blue color for active page */
    color: #ffffff; /* White text color for active page */
    border-color: #4299e1; /* Blue border color for active page */
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    pointer-events: none; 
    background-color: #e2e8f0; /* Light gray for disabled buttons */
    color: #a0aec0; /* Light text color for disabled buttons */
    border-color: #e2e8f0; /* Light border color for disabled buttons */
}
